.Card{
    margin: 60px 10px 25px 60px;
    padding: 20px;
    height: auto;
    width: 750px;
    background-color: rgb(213, 213, 216);
    border: #000 solid 1px;
    box-shadow:  8px 8px 4px rgb(50, 65, 58);
    border-radius: 0px 0px 0px 50px;
}

.Card img{
    margin: -65px -10px 5px -65px;
    height: 100px;
    width: 100px;
    border: solid  4px #000;
    border-radius: 50%;
    box-shadow:  6px 6px 5px rgb(76, 173, 128);
}

.Card h2{
    margin: 5px;
}

.Card p{
    text-align: justify;
    margin: 15px;
    padding: 10px;
    height: auto;
    width: 700px;
    background-color: rgba(76, 173, 128, 0.945);
    border-radius: 20px;
}

.Card ul{
    margin: 15px;
    padding: 10px;
    height: auto;
    width: 200px;
    background-color: rgba(89, 110, 57, 0.678);
    border-radius: 25px;
    text-align: center;
}

.Card ul li{
    margin: 5px;
    text-decoration: none;
    list-style: none;
}

aside{
    display: flex;
    flex-direction: column;
    float: right;
    height: auto;
    width: 200px;
    margin: -980px 50px 50px 50px;
    padding: 30px;
    background-color: rgba(89, 110, 57, 0.678);
    border-radius: 0px 20px 20px 20px;
}

aside article .lista-de-apoyo{
    padding: 5px;
    margin: 30px 0px 0px 0px;   
    border-radius: 20px;
    background-color: rgb(158, 165, 165);
    list-style: none;
}

aside article .lista-de-apoyo li{
    margin: 20px 0px 20px 0px;
}

aside article .lista-de-apoyo li .alternativas{
    text-decoration: none;
    color: black;
}

aside article .lista-de-apoyo li .alternativas:hover{
    text-decoration: none;
    color: blue;
}