.size-images {
    width: 150px;
    height: 150px;
}
thead,
th,
td,
tr {
    border: 1px solid;
    text-align: center;
}

.up {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: scale(0);
    transition: 0.5s;
}

.up__icon {
    position: relative;
    width: 30px;
    height: 30px;
    top: 4.5px;
    left: 4.5px;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(158, 165, 165);
}

body header {
    display: flex;
    flex-direction: row;
    background-image: url(../images/icono.png);
    margin: 5px;
    padding: 10px;
}

body header img {
    margin: 10px;
    height: 175ps;
    width: 175px;
    box-shadow: 3px 3px 2px rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 60px;
}

body header main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(76, 173, 128, 0.945);
    border-radius: 20px;
}

body header main h1 {
    margin: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 5px;
    padding: 15px;
    background-color: rgb(162, 221, 52);
}

.menu li a {
    text-decoration: none;
}

.aritmetica {
    list-style: none;
    margin: 5px;
    padding: 5px;
    color: aliceblue;
}

.geometria {
    list-style: none;
    margin: 5px;
    padding: 5px;
    color: aliceblue;
}

.Card{
    margin: 60px 10px 25px 60px;
    padding: 20px;
    height: auto;
    width: 750px;
    background-color: rgb(213, 213, 216);
    border: #000 solid 1px;
    box-shadow: 5px 5px 10px #000;
    border-radius: 0px 0px 0px 50px;
}

.Card img{
    margin: -65px -10px 5px -65px;
    height: 100px;
    width: 100px;
    border: solid  4px #000;
    border-radius: 50%;
    box-shadow:  6px 6px 5px rgb(76, 173, 128);
}

.Card h2{
    margin: 5px;
}

.Card p{
    margin: 15px;
    padding: 10px;
    height: auto;
    width: 700px;
    background-color: rgba(76, 173, 128, 0.945);
    border-radius: 20px;
}

.Card ul{
    margin: 15px;
    padding: 10px;
    height: auto;
    width: 150px;
    background-color: rgba(89, 110, 57, 0.678);
    border-radius: 25px;
    text-align: center;
}

.Card ul li{
    text-decoration: none;
    list-style: none;
}

/*falta arreglar el aside en html y aqui*/
aside{
    display: flex;
    flex-direction: column;
    float: right;
    height: 300px;
    width: 200px;
    margin: -800px 50px 50px 50px;
    padding: 30px;
    background-color: antiquewhite;
}

footer{
    height: 150px;
    background-color: rgb(76, 173, 128);
}
