.size-images {
    width: 150px;
    height: 150px;
}
thead,
th,
td,
tr {
    border: 1px solid;
    text-align: center;
}

.up {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: scale(0);
    transition: 0.5s;
}

.up__icon {
    position: relative;
    width: 30px;
    height: 30px;
    top: 4.5px;
    left: 4.5px;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 1s;
    opacity: 1;
}
.fade-out {
    animation: fadeOut 1s;
    opacity: 0;
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
